@model ApplicationUser

@{
    ViewData["Title"] = "Panel del Profesor";
}

<h1>Bienvenido Profesor: @Model.NombreCompleto</h1>
<h3>Departamento: @Model.Departamento</h3>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Tus cursos asignados
            </div>
            <div class="card-body">
                <p>Aquí irían los cursos que imparte el profesor</p>
            </div>
        </div>
    </div>
</div>